

html{
    height: 100%;
    min-height: 100%;
    font-family: Arial, sans-serif;
}

body{
    flex-grow: 1;
    text-align: center;
}

header{
    top:0;
    width:100;
    display: flex;
    flex-direction: row;
    position: fixed;
    
}
nav{
    display: flex;
    align-items: center;
    width: 120rem
}
.navbar{
    width: inherit;
}
#nav-right{
    right:auto;
}
nav div{
    display: flex;
    width: 50%;
    padding: 10px;
    align-items: center;    
    
}
nav div a{
    text-decoration: none;
    padding:10px;
    font-weight: lighter;
}

nav div:nth-child(1){
    justify-content: start;
   
    
}
nav div:nth-child(2){
    justify-content: flex-end;
    
    
}

.icon img{
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 50%;
    
}
.apps{
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    opacity: 0.5;
}
button{
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.logo{
    grid-area: logo;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    
}
.form, input{
    grid-area: form;
    height: 32px;
    width:640px;
    align-self: center;
    justify-self: center;
    border: 1px solid rgba(0,0,0,0.151);
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 80px 80px 250px;
    grid-template-areas: 
    ". logo ."
    ". form ."
    ". srh-frm ."
    ;
}



.srh-frm{
   grid-area: srh-frm;
   display: flexbox;
   justify-self: center;
   align-self: center;
   width: 64px;
}
.google-sub-btn, .other-sub-btn{
    border: none;
    font-size: 15px;
    color: #5F6368;
    width: initial;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
}

.google-sub-btn:hover{
    border: 1px solid rgba(0,0,0,0.212)
}
.other-sub-btn:hover{
    border: 1px solid rgba(0,0,0,0.212)
}

img{
    display: block;
}
.search-logo{
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}
.search-bar{
    width: 33%;
    font-size: 1.6rem;
}
input{
    border: 1px;
    outline: none;
}
.google-sub-btns{
    min-width: 54px;
    height:36px;
    padding:0 2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0.7rem;
    background-color: #f8f9fa;
    color:#3c4043;
    font-size: 1.4rem;
}


